body {
  font-family: Arial, sans-serif;
  background: #1e315c;
  color: white;
}

.card {
  width: 300px;
  margin: 100px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
body {
  background: dark_purple;
}
/* RESET BOX-SIZING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 32px;
  background-color: #0f172a;
  flex-wrap: wrap; /* responsive */
}

/* LOGO */
.logo img {
  height: 70px;
  width: auto;
  object-fit: contain;
}

.search {
  flex: 1;           /* search memakan sisa space */
  min-width: 300px;  /* minimal panjang */
  max-width: 800px;  /* maksimal panjang */
}

.search input {
  width: 100%;
  height: 50px;
  padding-left: 44px;  /* ruang untuk icon search */
  border-radius: 14px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 15px;

  /* icon search */
  background-image: url("assets/img/search.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
  background-size: 18px;
}

/* TOMBOL DAFTAR */
.daftar button {
  height: 50px;
  padding: 0 24px;
  border-radius: 14px;
  border: none;
  background: #22c55e;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.daftar button:hover {
  background: #16a34a;
}

/* RESPONSIVE MOBILE */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }

  .search {
    max-width: 100%;
  }

  .daftar button {
    width: 100%;
  }
}
