body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.card {
  width: 300px;
  margin: 100px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
body {
  background: dark_purple;
}
body {
  background: #0f172a;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: linear-gradient(90deg, #1e293b, #0f172a);
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.logo-img {
  height: 50px;
}

.header button {
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 15px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 14px;
}

.btn-search { background: #1d4ed8; color: white; }
.btn-daftar { background: #22c55e; color: black; }

.header button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}
