body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.card {
  width: 300px;
  margin: 100px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
body {
  background: dark_purple;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020617;
  color: white;
}

/* HEADER FLEX */
.header {
  display: flex;                  /* bikin horizontal */
  justify-content: flex-start;     /* mulai dari kiri */
  align-items: center;             /* semua item sejajar vertikal */
  gap: 15px;                       /* spasi antar item */
  padding: 15px 40px;
  background: #1e293b;
}

/* LOGO */
.logo-img {
  height: 40px;
  width: auto;
}

/* BUTTON */
.header button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

/* WARNA BUTTON */
.btn-search {
  background: #3b82f6;
  color: white;
}

.btn-daftar {
  background: #22c55e;
  color: black;
}

/* HOVER EFFECT */
.header button:hover {
  opacity: 0.85;
  transition: 0.3s;
}
[Logo]  [Search]  [Daftar]
