body {
  font-family: Arial, sans-serif;
  background: #1e315c;
  color: white;
}

.card {
  width: 300px;
  margin: 100px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
body {
  background: dark_purple;
.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 32px;
  background-color: #0f172a;
}

/* LOGO */
.logo img {
  height: 70px;
  width: auto;
}

/* SEARCH */
.search {
  flex: 1;
  max-width: 560px; /* pendekin search */
}

.search input {
  width: 100%;
  height: 50px;
  border-radius: 14px;
  padding-left: 44px; /* ruang icon search */
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 15px;

  background-image: url("logo/search.svg"); /* icon search */
  background-repeat: no-repeat;
  background-position: 14px center;
  background-size: 18px;
}

/* DAFTAR */
.daftar button {
  height: 50px;
  padding: 0 24px;
  border-radius: 14px;
  border: none;
  background: #22c55e;
  font-weight: 600;
  cursor: pointer;
}
.daftar button:hover {
  background: #16a34a;
}
