body {
  font-family: Arial, sans-serif;
  background: #1e315c;
  color: white;
}

.card {
  width: 300px;
  margin: 100px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
body {
  background: dark_purple;
}
.navbar {
    position: fixed; /* tetap di atas */
    top: 0;
    width: 100%;
    z-index: 1000;
}
body {
    padding-top: 70px; /* supaya konten tidak tertutup navbar */
}

/* LOGO */
.logo img {
  height: 70px;
  width: auto;
}

/* SEARCH CONTAINER */
.search-container {
  flex: 1 1 auto;      /* search bisa memanjang & shrink */
  min-width: 0;        /* penting agar flex grow bekerja */
}

/* SEARCH INPUT */
.search-container input {
  width: 100%;          /* isi seluruh container */
  height: 50px;
  padding: 0 16px;
  border-radius: 14px;
  border: none;
  font-size: 15px;
  background-color: #2563eb;
  color: white;
  box-sizing: border-box;
}

/* TOMBOL DAFTAR */
.daftar button {
  height: 50px;
  padding: 0 24px;
  border-radius: 14px;
  border: none;
  background-color: #22c55e;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.daftar button:hover {
  background-color: #16a34a;
}

/* RESPONSIVE MOBILE */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }

  .daftar button {
    width: 100%;
  }
}
